*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  font-size: 36px;
  line-height: 1.38;
}

h3 {
  font-size: 24px;
  line-height: 1.25;
}

h4 {
  font-size: 22px;
  line-height: 1;
}

h5 {
  font-size: 18px;
  line-height: 1;
}

p {
  font-size: 18px;
  line-height: 2.2;
  color: #546e7a;
}

a {
  text-decoration: none;
  line-height: 1;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.62, 0.12, 0.4, 0.89);
  -o-transition: all 0.3s cubic-bezier(0.62, 0.12, 0.4, 0.89);
  transition: all 0.3s cubic-bezier(0.62, 0.12, 0.4, 0.89);
}

.btn:hover {
  opacity: 0.7;
}

.btn-lg {
  max-width: 240px;
  padding: 30px 15px;
}

.btn-sm {
  min-width: 120px;
  padding: 12px 10px;
}

.btn-rounded-sm {
  border-radius: 12px;
}
.btn-rounded-lg {
  border-radius: 40px;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.container-md {
  max-width: 1440px;
}

.container-sm {
  max-width: 1210px;
}

/* Alignment helper */

.txt-center {
  text-align: center;
}
.txt-uppercase {
  text-transform: uppercase;
}

/* Helpers */

.mb-300 {
  margin-bottom: 300px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-30 {
  margin-bottom: 30px;
}

/* Shadows */

.box-shadow-light {
  -webkit-box-shadow: 0 22px 24px rgba(17, 83, 165, 0.25);
  box-shadow: 0 22px 24px rgba(17, 83, 165, 0.25);
}

.box-shadow-light:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Sections */

.section-md {
  padding: 100px 0;
}

/* Colors */

.txt-white {
  color: #fff;
}
.txt-navy-blue {
  color: #1c2056;
}
.txt-blue {
  color: #1a56a3;
}
.txt-dark-purple {
  color: #2d2058;
}
.txt-dark-grey {
  color: #263238;
}

.bg-white {
  background-color: #fff;
}
.bg-light-blue {
  background-color: #2870db;
}
.bg-light-blue-02 {
  background-color: #3072c0;
}
.bg-light-blue-03 {
  background-color: #00aeff;
}

.logo { width: 14vw; }