*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Niconne', cursive;
  font-weight: 400;
  background-color: #f2f2f2;
}

h1 {
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  font-size: 36px;
  line-height: 1.38;
}

h3 {
  font-size: 24px;
  line-height: 1.25;
}

h4 {
  font-size: 22px;
  line-height: 1;
}

h5 {
  font-size: 18px;
  line-height: 1;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 1.8;
  color: #546e7a;
}

a {
  text-decoration: none;
  line-height: 1;
  font-size: 40px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.62, 0.12, 0.4, 0.89);
  -o-transition: all 0.3s cubic-bezier(0.62, 0.12, 0.4, 0.89);
  transition: all 0.3s cubic-bezier(0.62, 0.12, 0.4, 0.89);
}

.btn:hover {
  opacity: 0.7;
}

.btn-lg {
  max-width: 240px;
  padding: 30px 15px;
}

.btn-sm {
  min-width: 120px;
  padding: 12px 10px;
}

.btn-rounded-sm {
  border-radius: 12px;
}
.btn-rounded-lg {
  border-radius: 40px;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.container-md {
  max-width: 1440px;
}

.container-sm {
  max-width: 1210px;
}

/* Alignment helper */

.txt-center { text-align: center; }
.txt-uppercase {
  text-transform: uppercase;
}

/* Helpers */
.pt-80 { padding-top: 80px; }
.pt-50 { padding-top: 50px; }

.pb-80 { padding-bottom: 80px; }
.pb-50 { padding-bottom: 50px; }
.pb-30 { padding-bottom: 30px; }

.pl-20 { padding-left: 20px; }

.mb-300 {
  margin-bottom: 300px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-80 { margin-bottom: 80px; }
.mb-50 { margin-bottom: 50px; }
.mb-30 { margin-bottom: 30px; }
.mb-15 { margin-bottom: 15px; }

.mt-80 { margin-top: 80px;}
.mt-50 { margin-top: 50px; }
.mt-30 { margin-top: 30px; }

.mr-20 { margin-right: 20px; }

img {
  width: 100%;
  height: auto;
}

figcaption { 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 25px;
}

/* Shadows */

.box-shadow-light {
  -webkit-box-shadow: 0 22px 24px rgba(17, 83, 165, 0.25);
  box-shadow: 0 22px 24px rgba(17, 83, 165, 0.25);
}

.box-shadow-light:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Decoration helpers */
.hover-underline:hover { text-decoration: underline; }

/* Sections */

.section-md {
  padding: 100px 0;
}

/* Colors */

.txt-white {
  color: #fff;
}
.txt-navy-blue {
  color: #1c2056;
}
.txt-blue {
  color: #1a56a3;
}
.txt-dark-pink { color: #800080; }
.txt-dark-gray { color: #808080; }
.txt-green { color: #00b300; }
.txt-light-white { color: #cccccc; }

.bg-white {
  background-color: #fff;
}
.bg-light-blue {
  background-color: #2870db;
}
.bg-light-blue-02 {
  background-color: #3072c0;
}
.bg-light-blue-03 {
  background-color: #00aeff;
}
.bg-light-gray { background-color: #d9d9d9; }
.bg-dark-gray { background-color:  #4d4d4d; }

/*--------------------- Navigations ------------------*/
.languages-menu {
  display: flex;
  flex-direction: row;  
  
  list-style-type: none;
  justify-content: flex-end;
}
.languages-menu li img { 
  width: 50px;
  height: 50px;   
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;
  height: 170px;
}
.menu li a {
  display: block;
  padding: 15px 0px;
}
.menu li:nth-child(1) { flex-grow: 0.8; }
.menu li:nth-child(9) { flex-grow: 0.2; }
.menu li {
  position: relative;
  bottom: 50px;
  padding-right: 10px;
}

.item a { color: black; }
.item a:hover { 
  color: #800080;
  text-decoration: underline;
}

.logo { 
  width: 14vw; 
  padding: 7.5px 10px 7.5px 0;
}

/*--------------------- Slider ------------------*/
.slider{
  width: 100%;
  height: 400px;
}

.swiper-container {
  padding-top: 0px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-next{
  padding-top: 0px;
  height: 100px;
  width: 100px;
}
.swiper-button-prev{
  padding-top: 0px;
  height: 100px;
  width: 100px;
}
/*--------------------- End of Slider ------------------*/

#bg-wines{
  background-image: url("../assets/images/grapes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------- Accordion ------------------*/
.accordion {
  font-weight: bold;
  font-size: 30px;
  
  background-image: url("../assets/images/grapes.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
  padding: 18px;
  width: 100%;

  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, 
.accordion:hover {
  opacity: 0.8;
}

/* Awards section */
.awards-button { padding: 28px; }

.panel {
  padding: 0 24px;  
  background-color: #d9d9d9;
  display: none;
  overflow: hidden;
}
.panel p {
  font-size: 24px;
  line-height: 1.5;
}
.panel p a { font-size: 24px; }

/* Wines images */
#wines-imgs { 
  text-align: center; 
  font-size: 0;
}
#wines-imgs a { font-size: 0; }
#wines-imgs a img{
  width: 350px;
  height: 300px;
}
#wines-imgs a:nth-child(1) img { width: 550px;}
#wines-imgs a:nth-child(2) img { width: 500px;}

/* Contact form */
.fa { color:#000; }

.contact-details p { 
  font-size: 18px;
  color: #fff;
}
.contact-details p span {
  padding-left: 20px;
  color: wheat;
  font-weight: bold;
  font-size: 24px;
}

::placeholder { color: #cccccc; }

.contact-form form input:nth-child(1),
.contact-form form input:nth-child(2){
  padding: 15px;
  background-color: #595959;
  color: #fff;

  border: 1px solid #000;
  outline: none;
}
.contact-form form textarea {
  padding: 15px 250px 100px 15px;
  background-color: #595959;
  color: #fff;

  border: 1px solid #000;
  outline: none;  
}
.contact-form form input:nth-child(4) {
  padding: 15px 40px;
  color: #fff;
  background-color: #009999;
  cursor: pointer;
  border-radius: 5%;
  border: none;
}
.contact-form form input:nth-child(4):focus,
.contact-form form input:nth-child(4):active {
  border: none;
  outline: none;
}
.contact-form form input:nth-child(4):hover { opacity: 0.8; }

i:hover { opacity: 0.5; }

.nav-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;  
}
.nav-footer li a {
  display: block;
  padding: 10px 0px;
}
.nav-footer li:nth-child(1),
.nav-footer li:nth-child(4) { flex-grow: 0.44; }
